/*Henter fonten "Oranienbaum" fra google til brug på sitet*/
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

/*Henter fonten "Open Sans Light" fra google til brug på sitet. Guide: https://www.wikihow.com/Use-Google-Fonts-in-CSS*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



/*En class(gruppe) der alle har "Open sans" som font*/
.headtext{
    font-family: "Open Sans", sans-serif;

}

/*
Når du vil bruge .headtext skal du i HTML skrive:
<header class="headtext">
 <h1>din tekst</h1>
 <header>

 header kan erstattes med section eller nav.
OBS!! Du vil ikke se nogen fysisk forskel. Det er så programmet og andre kan vide hvad din tekst handler om!!
 */

/*En class(gruppe) der alle har "Oranienbaum" som font*/
.maintext{
    font-family: 'Oranienbaum', serif;
font-size: 15px;
}

/*
Når du vil bruge .maintext skal du i HTML skrive:
<article class="maintext">
<p> din tekst </p>
 <article>

 article kan erstattes med aside, main, section og flere andre.
 evt kig på den her: https://www.w3schools.com/html/html5_semantic_elements.asp
 */


ul.drop-content{
    list-style-type: none; /*fjerne punkt form*/
    overflow: visible;

}

ul.drop-content li a{ /*styling af links til undersiders*/
    display: block;
    color: black;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
    border: grey;
}

.dropbtn{ /*menu knappens udseende*/
    background-color: lightgray;
    border: grey;
    color: black;
    font-size: 25px;
    padding: 5vw;
    position: fixed; /*låst på siden så den ik forsvinder når man scroller*/
    top: 0;
    right: 0;
}
.dropdown{
    position: fixed; /*låst på siden så den ik forsvinder når man scroller*/
    display: block;
    width: 100%;
}
.drop-content{ /*gemmer menuen før man hviler på den*/
    display: none;
    position: absolute;
    width: 100%;
}



.drop-content a:hover{ /*effect på de seperate links når man hviler på dem*/
    background-color: lightgray;
    color: black;
}

.dropdown:hover .drop-content{
    display: block;
}

.dropdown:hover .dropbtn{ /*effekt på menu knappen når man hviler på den*/
    background: lightgray;
    border: black;
}

.flex{
    display: flex;
    position: relative;

}

.interImg{
    display: block;

}
.backImg{

    position: relative;
}


.clickGreen button{
    font-family: "Open Sans", sans-serif; /*font*/
    background-color: #66CC66; /* #66CC66(original), #91e191(lysere), #5c995c(mørkere), #73914b(mere brun i det)*/
    color: white; /*tekst farve*/
    width: 120px; /*vw er view width - så ændre den størrelse når skærmen bliver mindre */
    height: 30px;
    border: hidden; /*gemt - ellers kommer der en sort linje hele vejen rundt om*/
    border-radius: 5px; /*runde kanter - større tal mere rundt*/
}

/*Eksempel:
<main class="clickGreen">
        <button>Tryk her!</button>
</main>
    */

.clickBlue button{
    font-family: "Open Sans", sans-serif;
    background-color: #0079f2; /* #0079f2(original), #59a6e6(lysere), #4d9cc9(mere mat i det), #275e91(mørkere) */
    color: white;
    width: 10vw; /*vw er view width - så ændre den størrelse når skærmen bliver mindre */
    height: auto;
    border: hidden;
    border-radius: 5px;
}

footer{
    background-color: lightgray;
}

/*Bruges til web version*/
@media screen and (min-width: 480px) {
.dropdown{
    display: none;
}
}

/* MIA CSS */

/*Navigationsbaren, fundet som "mobile navigation bar" på w3schools */

.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.logo{
    width: 55px;
    height: 45px;
}
.hjerte{
    width: 25px;
    height: 25px;
    padding-top: 10px;
}

.fa-bars{
    padding: 14px 16px;
    color: black;
}

.heart{
    margin-left: auto;
    margin-right: 4rem;
}




/* til reklamevideoen*/
.reklamevideo{
     width: 410px;
    height: auto;
}

/*til billederne på værkstedet*/
.MiasBill img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
 width: 250px;
    height: auto;
}

.clickGreenLong button{
    font-family: "Open Sans", sans-serif; /*font*/
    background-color: #66CC66; /* #66CC66(original), #91e191(lysere), #5c995c(mørkere), #73914b(mere brun i det)*/
    color: white; /*tekst farve*/
    width: 50vw; /*vw er view width - så ændre den størrelse når skærmen bliver mindre */
    height: 50px;
    border: hidden; /*gemt - ellers kommer der en sort linje hele vejen rundt om*/
    border-radius: 5px; /*runde kanter - større tal mere rundt*/
    display: block;
    margin: auto;
}

li{
    margin-bottom: 20px;
}

/*Rebeccas*/

/*inspiration*/
.lineSmall{
    border-top: 5px dashed black;
    padding: 0.5em;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}


/*farvorit*/

.pFlex{
    display: flex;
    padding: 1em;
    text-align: right;
}

.imageFlex{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

/*Book tid her*/

.Flex{
    text-align: center;
}

.formuler{
    margin-top: 50px;
    font-size: x-large;
    padding-top: 1px;
    text-align: center;
}

.tekst{
    width: 300px;
    height: 30px;
    font-size: medium;
    background-color: #66CC66
}

/*Tak for bestilling*/

.bFlex{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

.tFlex{
    padding: 0.5em;
    text-align: center;
}

/*Ens farvorit*/

.dflex{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

.nFlex{
    display: flex;
    padding: 1em;
    text-align: right;
}

.hFlex{
    display: flex;
    flex-direction: row;
}

.headtext2{
    padding: 20px;
        font-family: "Open Sans", sans-serif;
}

      /**
#Sofa{
    display: block;
    flex-direction: column;
    margin-left: auto ;
    margin-right: auto;
}           **/

.sofa {
    display: block;
    width: 95%;
    flex-direction: column; /** så de lægger lodret i stedet for vandret **/
    border: 1px solid darkgrey;
    margin: auto;
    padding-bottom: 15px;
    padding-right: 10px;

}
.clickGreenRight Button {
    font-family: "Open Sans", sans-serif; /*font*/
    background-color: #66CC66; /* #66CC66(original), #91e191(lysere), #5c995c(mørkere), #73914b(mere brun i det)*/
    color: white; /*tekst farve*/
    width: 25vw; /*vw er view width - så ændre den størrelse når skærmen bliver mindre */
    height: 30px;
    border: hidden; /*gemt - ellers kommer der en sort linje hele vejen rundt om*/
    border-radius: 5px; /*runde kanter - større tal mere rundt*/
    float: right;
}

.sider {
    text-align: center;
}